<script>

let METADATA         = {% include metadata/works.json %};
let SOURCES_METADATA = {% include metadata/sources.json %};
let SOURCES_LOOKUP   = {};
for (let _si = 0; _si < SOURCES_METADATA.length; _si++) {
    let _s = SOURCES_METADATA[_si];
    if (_s[SOURCE_FIELD.id]) SOURCES_LOOKUP[_s[SOURCE_FIELD.id].substring(0, 2)] = _s;
}

document.addEventListener("DOMContentLoaded", function() {
    buildSourceCards();

    // Support ?s=BC deep-link
    const params = new URLSearchParams(window.location.search);
    let s = params.get("s").toLowerCase();
    if (s) selectSource(s);
});

</script>
